<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Secretarios</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"> 
</head>
<body>
    <h1>Lista de Secretarios</h1>
    <table>
        <thead>
            <tr>
                <th>Cuil</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Ingreso</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Juez al que responde</th>
            </tr>
        </thead>
        <tbody>
            <% secretariosData.forEach(secretario => { %>
                <tr>
                    <td><%= secretario.cuilSecretario %></td>
                    <td><%= secretario.nombreSecretario %></td>
                    <td><%= secretario.apellidoSecretario %></td>
                    <td><%= secretario.fechaIngreso ? new Date(secretario.fechaIngreso).toISOString().split('T')[0] : '' %></td>
                    <td><%= secretario.telefono %></td>
                    <td><%= secretario.correo %></td>
                    <td><%= secretario.nombreJuez  %> <%= secretario.apellidoJuez  %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
